<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Star Repo</title>
    </head>
<body>
    <h1>Star Repository</h1>
    <section>
        <h2>An excellent repository with many limitations</h2>

    </section>
    <p>Nothing works yet :)</p>
<!--    <table>-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th> Title </th>-->
<!--            <th> Author </th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:if="${file.empty}">-->
<!--            <td colspan="2"> No Books Available </td>-->
<!--        </tr>-->
<!--        <tr th:each="book : ${books}">-->
<!--            <td><span th:text="${book.title}"> Title </span></td>-->
<!--            <td><span th:text="${book.author}"> Author </span></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</body>
